<div class="container">
<!-- {% extends 'base.html' %} -->
{% import 'macros.html' as macro %}

<!-- Content block -->

{% block content %}
<div class="panel-heading" style="background-color:rgb(19, 136, 190); color: #fff; font-size: 18px; font-weight: bold; text-align: center">
  <h1>NEWS HIGHLIGHT</h1>
</div>


<!-- General news sources sections -->
<h3 class="text-center" style="font-weight: bold; font-size: 28px;">General News</h3>
<hr><br>
<div class="row">
  {{ macro.displaySourceList(general) }}
</div>
<br>
<!-- Business news sources sections -->
<h3 class="text-center" style="font-weight: bold; font-size: 28px;">Business News</h3>
<hr><br>
<div class="row">
  {{ macro.displaySourceList(business) }}
</div>
<br>
<!-- Technology news sources sections -->
<h3 class="text-center" style="font-weight: bold; font-size: 28px;">Technology News</h3>
<hr><br>
<div class="row">
  {{ macro.displaySourceList(technology) }}
</div>
<br>
<!-- Sports news sources sections -->
<h3 class="text-center" style="font-weight: bold; font-size: 28px;">Sports News</h3>
<hr><br>
<div class="row">
  {{ macro.displaySourceList(sports) }}
</div>
</div>

{% endblock %}

